
try:
    #code that may rise exception
except ExceptionType:
    #code handle the exception

In [1]:
num=int(input("Enter any number: "))
print(num)

Enter any number: abc

ValueError: invalid literal for int() with base 10: 'abc'

In [2]:
# Handling above ValueError
try: 
    num=float(input("Enter any number: "))
    print(num)
except ValueError:
    print("invalid input enrror integer or float number:")

Enter any number: abcdef
invalid input enrror integer or float number:

In [3]:
n1=int(input("enter first number"))
n2=int(input("enter another number: "))
result=n1/n2
print(result)

enter first number10
enter another number: 0

ZeroDivisionError: division by zero

In [4]:
try:
    n1=int(input("enter first number"))
    n2=int(input("enter another number: "))
    result=n1/n2
    print(result)
except ZeroDivisionError:
    print("can not divide by zero")

enter first number10
enter another number: 0
can not divide by zero

In [6]:
#Both handling in a single code by exceptional

try:
    n1=int(input("enter first number"))
    n2=int(input("enter another number: "))
    result=n1/n2
    print(result)
except ValueError:
    print("invalid input enrror integer or float number:")
except ZeroDivisionError:
    print("can not divide by zero")

enter first number10
enter another number: agbs
invalid input enrror integer or float number:

In [7]:
# give message in a single message for possible error 

try:
    n1=int(input("Please enter one number:\n"))
    n2=int(input("enteranother number:\n"))
    result=n1/n2
    print(result)
except(ValueError,TypeError,ZeroDivisionError):
    print("enter valid value")

Please enter one number:
10
enteranother number:
hsbrt
enter valid value

In [12]:
num_str="abcd"
try: 
    num=int(num_str)
    print(num)
except (ValueError,TypeError):
    print("Could not convert input to integer")

Could not convert input to integer

In [13]:
#all erro can handle

num_str="abcd"
try: 
    num=int(num_str)
    print(num)
except Exception:
    print("An exception occured")

An exception occured

In [14]:

num_str="abcd"
try: 
    num=int(num_str)
    print(num)
except Exception as e:
    print(e)

invalid literal for int() with base 10: 'abcd'

In [17]:
try:
    n1=int(input("enter first number"))
    n2=int(input("enter another number: "))
    result=n1/n2
    print(result)
except ZeroDivisionError:
    print("can not divide by zero")
else:
    print("reult is",result)

enter first number19
enter another number: 10
1.9
reult is 1.9

In [18]:
try:
    a1=int(input("enter first number"))
    a2=int(input("enter another number: "))
    result=a1/a2
    print(result)
except ZeroDivisionError:
    print("can not divide by zero")
else:
    print("reult is",result)
finally:
    print("This block is always executed.")

enter first number1
enter another number: 2
0.5
reult is 0.5
This block is always executed.