In [33]:
import pandas as pd
import numpy as np

# Handlong Duplicates

In [34]:
# Create a sample dataset with duplicate values
data = {'A': ['foo', 'bar', 'foo', 'baz', 'qux', 'bar', 'foo'],
        'B': [1, 2, 3, 4, 5, 6, 7],
        'C': [10, 20, 30, 40, 50, 60, 70]}
df = pd.DataFrame(data)

# Print the original dataframe
print('Original dataframe:')
print(df)

Original dataframe:
     A  B   C
0  foo  1  10
1  bar  2  20
2  foo  3  30
3  baz  4  40
4  qux  5  50
5  bar  6  60
6  foo  7  70

In [35]:
# Drop duplicates
df.drop_duplicates(subset=['A'], inplace=True)
print('\nDataframe after dropping duplicates:')
print(df)

Dataframe after dropping duplicates:
     A  B   C
0  foo  1  10
1  bar  2  20
3  baz  4  40
4  qux  5  50

In [36]:
# Aggregate duplicates
agg_df = df.groupby(['A']).mean()
print('\nDataframe after aggregating duplicates:')
print(agg_df)

Dataframe after aggregating duplicates:
       B     C
A
bar  2.0  20.0
baz  4.0  40.0
foo  1.0  10.0
qux  5.0  50.0

In [37]:
# Keep the first occurrence
first_df = df.drop_duplicates(subset=['A'], keep='first')
print('\nDataframe after keeping the first occurrence:')
print(first_df)

Dataframe after keeping the first occurrence:
     A  B   C
0  foo  1  10
1  bar  2  20
3  baz  4  40
4  qux  5  50

In [38]:
# Keep the last occurrence
last_df = df.drop_duplicates(subset=['A'], keep='last')
print('\nDataframe after keeping the last occurrence:')
print(last_df)

Dataframe after keeping the last occurrence:
     A  B   C
0  foo  1  10
1  bar  2  20
3  baz  4  40
4  qux  5  50

In [39]:
# Mark duplicates
df['duplicate'] = df.duplicated(subset=['A'])
print('\nDataframe after marking duplicates:')
print(df)

Dataframe after marking duplicates:
     A  B   C  duplicate
0  foo  1  10      False
1  bar  2  20      False
3  baz  4  40      False
4  qux  5  50      False

# Handling Incorrect Data

In [40]:
# Create a dummy dataset
data = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'name': ['John', 'Jane', 'Bob', 'Alice', 'David'],
    'age': [25, -31, 42, 19, 37],
    'gender': ['M', 'F', 'M', 'F', 'Z'],
    'income': [50000, 70000, np.nan, '30000', 60000]
})
print("Dataset before Handling Incorrect Values")
print(data)

Dataset before Handling Incorrect Values
   id   name  age gender income
0   1   John   25      M  50000
1   2   Jane  -31      F  70000
2   3    Bob   42      M    NaN
3   4  Alice   19      F  30000
4   5  David   37      Z  60000

In [41]:
# Identify incorrect data
incorrect_age = data[(data['age'] <= 0) | (data['age'] > 100)]
incorrect_gender = data[~data['gender'].isin(['M', 'F'])]
incorrect_income = data[~data['income'].apply(lambda x: isinstance(x, (int, float)))]

# Delete incorrect data
data = data.drop(incorrect_age.index)
data = data.drop(incorrect_gender.index)
data = data.drop(incorrect_income.index)

# Display the cleaned dataset
print("\nDataset after Handling Incorrect Values")
print(data)

Dataset after Handling Incorrect Values
   id  name  age gender income
0   1  John   25      M  50000
2   3   Bob   42      M    NaN

In [42]:
# Identify incorrect data
incorrect_age = data[(data['age'] <= 0) | (data['age'] > 100)]
incorrect_gender = data[data['gender'].isin(['M', 'F'])]
incorrect_income = data[~data['income'].apply(lambda x: isinstance(x, (int, float)))]

# Delete incorrect data
print(data)
data = data.drop(incorrect_age.index)
print("After Dropping with age condition:", data)
data = data.drop(incorrect_gender.index)
print("After Dropping with gender condition:", data)
data = data.drop(incorrect_income.index)

# Display the cleaned dataset
print("\nDataset after Handling Incorrect Values")
print(data)

   id  name  age gender income
0   1  John   25      M  50000
2   3   Bob   42      M    NaN
After Dropping with age condition:    id  name  age gender income
0   1  John   25      M  50000
2   3   Bob   42      M    NaN
After Dropping with gender condition: Empty DataFrame
Columns: [id, name, age, gender, income]
Index: []

Dataset after Handling Incorrect Values
Empty DataFrame
Columns: [id, name, age, gender, income]
Index: []

# Handling Inconsistent Data

In [43]:
# Create a dummy dataset
data = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'country': ['USA', 'U.S.A.', 'United States', 'Canada', 'Mexico'],
    'date': ['2021-01-01', '01/01/2021', '2021-01-01', '2021-01-01', '01-01-2021']
})

# Define rules for resolving inconsistencies
country_codes = {
    'USA': 'US',
    'U.S.A.': 'US',
    'United States': 'US',
    'Canada': 'CA',
    'Mexico': 'MX'
}
print("Inconsistent Data")
print(data)

def parse_date(date_str):
    if '-' in date_str:
        return date_str
    elif '/' in date_str:
        parts = date_str.split('/')
        return f'{parts[2]}-{parts[0]}-{parts[1]}'
    else:
        parts = date_str.split('-')
        return f'{parts[2]}-{parts[1]}-{parts[0]}'

# Apply rules to the data
data['country'] = data['country'].apply(lambda x: country_codes.get(x, x))
data['date'] = data['date'].apply(parse_date)

# Verify the results
print("\nConsistent Data")
print(data)

Inconsistent Data
   id        country        date
0   1            USA  2021-01-01
1   2         U.S.A.  01/01/2021
2   3  United States  2021-01-01
3   4         Canada  2021-01-01
4   5         Mexico  01-01-2021

Consistent Data
   id country        date
0   1      US  2021-01-01
1   2      US  2021-01-01
2   3      US  2021-01-01
3   4      CA  2021-01-01
4   5      MX  01-01-2021

# Assignment

In [45]:
# Create a dummy dataset
data = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'country': ['USA', 'U.S.A.', 'United States', 'Canada', 'Mexico'],
    'date': ['2021-01-01', '01/01/2021', '2021-01-01', '2021-01-01', '01-01-2021']
})